<app-nav-bar></app-nav-bar>

<section class="section-padding  bg-white">
  <div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-4">
           <div class="section-title">
              <h2 class="mt-1 mb-5">Get In Touch</h2>
           </div>
           <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> Address :</h6>
           <p>86 Petersham town, New South wales Waedll Steet, Australia PA 6550</p>
           <h6 class="text-dark"><i class="mdi mdi-phone"></i> Phone :</h6>
           <p>+91 12345-67890, (+91) 123 456 7890</p>
           <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> Mobile :</h6>
           <p>(+20) 220 145 6589, +91 12345-67890</p>
           <h6 class="text-dark"><i class="mdi mdi-email"></i> Email :</h6>
           <p>iamosahan@gmail.com, info@gmail.com</p>
           <h6 class="text-dark"><i class="mdi mdi-link"></i> Website :</h6>
           <p>www.askbootstrap.com</p>
        </div>
        <form class="col-lg-8 col-md-8" name="sentMessage" id="contactForm" novalidate="">
           <div class="section-title">
              <h2 class="mt-1 mb-5">Contact Us</h2>
           </div>
           <div class="control-group form-group">
              <div class="controls">
                 <label>Full Name <span class="text-danger">*</span></label>
                 <input type="text" placeholder="Full Name" class="form-control" id="name" required="" data-validation-required-message="Please enter your name.">
                 <p class="help-block"></p>
              </div>
           </div>
           <div class="row">
              <div class="control-group form-group col-md-6">
                 <label>Phone Number <span class="text-danger">*</span></label>
                 <div class="controls">
                    <input type="tel" placeholder="Phone Number" class="form-control" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                 <div class="help-block"></div></div>
              </div>
              <div class="control-group form-group col-md-6">
                 <div class="controls">
                    <label>Email Address <span class="text-danger">*</span></label>
                    <input type="email" placeholder="Email Address" class="form-control" id="email" required="" data-validation-required-message="Please enter your email address.">
                 <div class="help-block"></div></div>
              </div>
           </div>
           <div class="control-group form-group">
              <div class="controls">
                 <label>Message <span class="text-danger">*</span></label>
                 <textarea rows="4" cols="100" placeholder="Message" class="form-control" id="message" required="" data-validation-required-message="Please enter your message" maxlength="999"></textarea>
              <div class="help-block"></div></div>
           </div>
           <div id="success"></div>
           <!-- For success/fail messages -->
           <button type="submit" class="btn btn-secondary btn-lg">Send Message</button>
        </form>
     </div>
  </div>
</section>

<app-footer></app-footer>
