
<section class="section-padding bg-white text-center">
  <h2 class="mt-0">Join our professional team &amp; agents<br>to start selling your house</h2>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <button type="button" class="btn btn-primary">Contact Us</button> <button type="button" class="btn btn-outline-primary">Read More</button>
</section>

<section class="pt-4 pb-4 text-center">
  <p class="mt-0 mb-0">© Copyright 2018 <strong class="text-dark">Osahan Property</strong>. All Rights Reserved</p>
  <small class="mt-0 mb-0">
  Made with <i class="mdi mdi-heart text-danger"></i> by <a class="text-primary" target="_blank" href="https://askbootstrap.com/">Ask Bootstrap</a>
  </small>
</section>
