<div class="navbar-top bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <p>Bienvenue chez <strong>AL WIFAK IMMO</strong> !</p>
      </div>
      <div class="col-lg-8 col-md-8 text-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#"
              ><i class="mdi mdi-email-outline"></i> info@oproperty.com</a
            >
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="mdi mdi-phone"></i> +1-123-456-7890</a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="mdi mdi-headphones"></i> Contact Us</a>
          </li>
          <li class="list-inline-item">
            <span>Download App</span> &nbsp;
            <a href="#"><i class="mdi mdi-windows"></i></a>
            <a href="#"><i class="mdi mdi-apple"></i></a>
            <a href="#"><i class="mdi mdi-android"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand text-success logo" href="index.html">
        <img src="/assets/img/logo.png" alt="osahan logo" />
      </a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home"> Acceuil </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink='/annonce'> Vente </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/annonce"> Location </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"> Contact </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/about"> Qui Somme nous ? </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
