<app-nav-bar></app-nav-bar>

<section class="section-padding bg-dark inner-header">
  <div class="container">
     <div class="row">
        <div class="col-md-12 text-center">
           <h1 class="mt-0 mb-3">About Us</h1>
           <div class="breadcrumbs">
              <p class="mb-0"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a> / About Us</p>
           </div>
        </div>
     </div>
  </div>
</section>


<section class="section-padding bg-white">
  <div class="container">
     <div class="row">
        <div class="pl-4 col-lg-5 col-md-5 pr-4">
           <img class="rounded img-fluid" src="assets/img/about.jpg" alt="Card image cap">
        </div>
        <div class="col-lg-6 col-md-6 pl-5 pr-5">
           <h2 class="mt-5 mb-5">We Provide Lovable Experiment in the Real<br> Estate Field</h2>
           <h5 class="mt-2 text-dark">Our Vision</h5>
           <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
           <h5 class="mt-4 text-dark">Our Goal</h5>
           <p>When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
        </div>
     </div>
  </div>
</section>

<section class="section-padding">
  <div class="section-title text-center mb-5">
     <h2>What We Provide?</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-4">
           <div class="mt-4 mb-4"><i class="round-icon text-secondary mdi mdi-account-box-outline mdi-48px"></i></div>
           <h5 class="mt-3 mb-3">Presenting Your Proerty</h5>
           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
        </div>
        <div class="col-lg-4 col-md-4">
           <div class="mt-4 mb-4"><i class="round-icon text-secondary mdi mdi-check-circle-outline mdi-48px"></i></div>
           <h5 class="mb-3">Renting or Selling</h5>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-lg-4 col-md-4">
           <div class="mt-4 mb-4"><i class="round-icon text-secondary mdi mdi-account-multiple-outline mdi-48px"></i></div>
           <h5 class="mt-3 mb-3">Property Exchange</h5>
           <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-4 col-md-4">
           <div class="mt-4 mb-4"><i class="round-icon text-secondary mdi mdi-clock mdi-48px"></i></div>
           <h5 class="mb-3">Buying a Property</h5>
           <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked.</p>
        </div>
        <div class="col-lg-4 col-md-4">
           <div class="mt-4 mb-4"><i class="round-icon text-secondary mdi mdi-sticker-emoji mdi-48px"></i></div>
           <h5 class="mt-3 mb-3">Renting or Selling</h5>
           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
        </div>
        <div class="col-lg-4 col-md-4">
           <div class="mt-4 mb-4"><i class="round-icon text-secondary mdi mdi-comment-alert-outline mdi-48px"></i></div>
           <h5 class="mt-3 mb-3">Presenting Your Proerty</h5>
           <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
        </div>
     </div>
  </div>
</section>

<app-footer></app-footer>
