<section class="osahan-slider">
  <div id="osahanslider"  class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
        <li data-target="#osahanslider" data-slide-to="0" class="active"></li>
        <li data-target="#osahanslider" data-slide-to="1" class=""></li>
     </ol>
     <div class="carousel-inner" role="listbox">
        <div class="carousel-item slider-one active">
           <div class="overlay"></div>
        </div>
        <div class="carousel-item slider-two">
           <div class="overlay"></div>
        </div>
     </div>
     <a class="carousel-control-prev" href="#osahanslider" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#osahanslider" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
     </a>
  </div>
  <div class="slider-form">
     <div class="container"  >
        <h2 class="text-left mb-5">Find Your Dream Home</h2>
        <form>
           <div class="tab-content">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                 <div class="row no-gutters">
                    <div class="col-md-4">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="mdi mdi-security-home"></i></div>
                        <select class="form-control select2 no-radius" >
                           <option value="" data-select2-id="6">Property Type</option>
                           <option value="">House/Villa</option>
                           <option value="">Flat</option>
                           <option value="">Plot/Land</option>
                           <option value="">Office Space</option>
                           <option value="">Shop/Showroom</option>
                           <option value="">Commercial Land</option>
                           <option value="">Warehouse/ Godown</option>
                           <option value="">Industrial Building</option>
                        </select><span class="select2 select2-container  select2-hidden-accessible  select2-container--default" dir="ltr" data-select2-id="5" style="width: 186.406px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-5xd9-container"><span class="select2-selection__rendered" id="select2-5xd9-container" role="textbox" aria-readonly="true" title="Property Type">Property Type</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                     </div>
                    </div>
                    <div class="col-md-3">
                       <div class="input-group">


                          <div class="input-group-addon"><i class="mdi mdi-google-maps"></i></div>
                          <select class="form-control select2 no-radius ">
                             <option value="" >Locations</option>
                             <option value="AL">Alabama</option>
                             <option value="AK">Alaska</option>
                             <option value="AZ">Arizona</option>
                             <option value="AR">Arkansas</option>
                             <option value="CA">California</option>
                             <option value="CO">Colorado</option>
                             <option value="CT">Connecticut</option>
                             <option value="DE">Delaware</option>
                             <option value="DC">District Of Columbia</option>
                             <option value="FL">Florida</option>
                             <option value="GA">Georgia</option>
                             <option value="HI">Hawaii</option>
                             <option value="ID">Idaho</option>
                             <option value="IL">Illinois</option>
                             <option value="IN">Indiana</option>
                             <option value="IA">Iowa</option>
                             <option value="KS">Kansas</option>
                             <option value="KY">Kentucky</option>
                             <option value="LA">Louisiana</option>
                             <option value="ME">Maine</option>
                             <option value="MD">Maryland</option>
                             <option value="MA">Massachusetts</option>
                             <option value="MI">Michigan</option>
                             <option value="MN">Minnesota</option>
                             <option value="MS">Mississippi</option>
                             <option value="MO">Missouri</option>
                             <option value="MT">Montana</option>
                             <option value="NE">Nebraska</option>
                             <option value="NV">Nevada</option>
                             <option value="NH">New Hampshire</option>
                             <option value="NJ">New Jersey</option>
                             <option value="NM">New Mexico</option>
                             <option value="NY">New York</option>
                             <option value="NC">North Carolina</option>
                             <option value="ND">North Dakota</option>
                             <option value="OH">Ohio</option>
                             <option value="OK">Oklahoma</option>
                             <option value="OR">Oregon</option>
                             <option value="PA">Pennsylvania</option>
                             <option value="RI">Rhode Island</option>
                             <option value="SC">South Carolina</option>
                             <option value="SD">South Dakota</option>
                             <option value="TN">Tennessee</option>
                             <option value="TX">Texas</option>
                             <option value="UT">Utah</option>
                             <option value="VT">Vermont</option>
                             <option value="VA">Virginia</option>
                             <option value="WA">Washington</option>
                             <option value="WV">West Virginia</option>
                             <option value="WI">Wisconsin</option>
                             <option value="WY">Wyoming</option>
                          </select><span class="select2 select2-container select2-hidden-accessible select2-container--default" dir="ltr" data-select2-id="2" style="width: 186.406px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-rb0m-container"><span class="select2-selection__rendered" id="select2-rb0m-container" role="textbox" aria-readonly="true" title="Locations">Locations</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                       </div>
                    </div>
                    <div class="col-md-3">
                       <div class="input-group">
                          <div class="input-group-addon"><i class="mdi mdi-security-home"></i></div>
                          <select class="form-control select2 no-radius" >
                             <option value="" data-select2-id="6">Property Type</option>
                             <option value="">House/Villa</option>
                             <option value="">Flat</option>
                             <option value="">Plot/Land</option>
                             <option value="">Office Space</option>
                             <option value="">Shop/Showroom</option>
                             <option value="">Commercial Land</option>
                             <option value="">Warehouse/ Godown</option>
                             <option value="">Industrial Building</option>
                          </select><span class="select2 select2-container  select2-hidden-accessible  select2-container--default" dir="ltr" data-select2-id="5" style="width: 186.406px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-5xd9-container"><span class="select2-selection__rendered" id="select2-5xd9-container" role="textbox" aria-readonly="true" title="Property Type">Property Type</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                       </div>
                    </div>
                    <div class="col-md-2">
                       <button type="submit" class="btn btn-secondary btn-block no-radius font-weight-bold">SEARCH</button>
                    </div>
                 </div>
              </div>

           </div>
        </form>

     </div>
  </div>
</section>
